@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: "regular";
}

.head-h1{
    text-align:center;
}

.Input-fields{
    width: auto;
    height: auto;
    margin: auto;
    background-color: hsl(0, 0%, 93%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);

}

.Input-fields p{
    text-align: center;
}

#btn{
    padding: 10px;
    background-color: rgb(90, 119, 161);
    color: white;
    font-size: 2rem;
    margin: 6px;
    border: none;
    border-radius:10px;
    cursor:pointer;
}

#btn:hover{
    background-color: rgba(90, 120, 161, 0.842);
}

#input-value{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}


#image-container{
    width: auto;
    height: auto;
    margin-top: 10px;
}

#image-container img{
    width: 150px;
    margin: 10px;
}